/*---
Resets
----------*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: black-op;
    overflow: hidden;

    @media screen and (orientation: landscape) and (max-height: 450px){
        overflow-y: scroll;
    }
}

.hidden{
    display: none;
}

button{
    all: initial;
    box-sizing: border-box;
    cursor: pointer;
}



/*
Mixins
---------*/

@mixin flex-variable($direction, $wrap, $justy, $align, $align-content){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justy;
    align-items: $align;
    align-content: $align-content;
}

@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

@mixin testing-border-1{
    border: 1px solid black;
}

@mixin testing-border-2{
    border: 1px dashed black;
}

@mixin testing-border-3{
    border: 1px dotted black;
}

@mixin glass{
    
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



/*
Fonts
---------*/

@font-face {
    font-family: black-op;
    src: 
        url(./font/blackopsone-regular-webfont.woff2),
        url(./font/blackopsone-regular-webfont.woff);
}
